In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import great_expectations as gx
from great_expectations.dataset import PandasDataset
from great_expectations.core.expectation_configuration import ExpectationConfiguration

import os

In [2]:
path_to_file = os.path.join("../data/01_raw/diabetic_data.csv")
df = pd.read_csv(path_to_file)

In [3]:
df["acetohexamide"].value_counts()

acetohexamide
No        101765
Steady         1
Name: count, dtype: int64

In [5]:
df['weight'].unique()

array(['?', '[75-100)', '[50-75)', '[0-25)', '[100-125)', '[25-50)',
       '[125-150)', '[175-200)', '[150-175)', '>200'], dtype=object)

In [13]:
contexto = gx.get_context(context_root_dir = "gx")
datasource_name = "hospital_data_diabetes"
try:
    datasource = contexto.sources.add_pandas(datasource_name)
except:
    print("Datasource já adicionado")
    datasource = contexto.datasources[datasource_name]

Datasource já adicionado

In [28]:
print("data source:", contexto.list_datasources())

data source: [{'type': 'pandas', 'name': 'hospital_data_diabetes', 'assets': [{'name': 'hospital_data_diabetes_1', 'type': 'dataframe', 'batch_metadata': {}}]}]

In [29]:
print(datasource)

assets:
  - batch_metadata: {}
    name: hospital_data_diabetes_1
    type: dataframe
name: hospital_data_diabetes
type: pandas

In [1]:
import pandas as pd
import os

In [6]:
# show all columns
pd.set_option('display.max_columns', None)

In [7]:
aaaaa = os.path.join("..\\data\\03_primary\\hospital_test_data.csv")
aaaaaaaaa = pd.read_csv(aaaaa)
aaaaaaaaa.head()

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,38394243,Caucasian,0,75,1,1,7,3,61,0,21,0,0,0,253,401,244,8,0.0,0.0,0,0,0,0,0,0,0,0,0,No,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,93205692,Caucasian,0,45,3,1,7,2,35,0,14,6,7,2,847,276,577,8,0.0,0.0,0,0,0,0,0,0,0,0,0,No,0,0,0,0,0,1,0,0,0,0,0,1,1,1
2,294201,AfricanAmerican,1,95,1,6,7,3,49,0,10,0,0,2,599,428,41,9,0.0,0.0,0,0,0,0,0,0,1,0,0,No,0,0,0,0,0,1,0,0,0,0,0,1,1,1
3,38943243,Caucasian,0,55,3,1,1,3,38,3,41,2,0,0,440,585,414,6,0.0,0.0,0,0,0,0,0,0,0,0,0,No,1,0,0,0,0,1,0,0,0,0,0,1,1,1
4,95752350,Caucasian,0,75,2,6,7,7,77,0,26,0,0,1,560,491,250.02,9,0.0,3.0,0,0,0,0,0,0,0,1,0,No,0,0,0,0,0,1,0,0,0,0,0,1,1,1

In [16]:
suite_raw_data = contexto.add_or_update_expectation_suite(
    expectation_suite_name="hospital_data_diabetes_raw_data_suite",
)

In [36]:
expectaion_weight = ExpectationConfiguration(
    expectation_type="expect_column_distinct_values_to_be_in_set",
    kwargs={
        "column": "weight",
        "value_set": ['?', '[75-100)', '[50-75)', '[0-25)', '[100-125)', '[25-50)',
       '[125-150)', '[175-200)', '[150-175)', '>200'],
    },
)
suite_raw_data.add_expectation(expectation_configuration = expectaion_weight)

{"expectation_type": "expect_column_distinct_values_to_be_in_set", "kwargs": {"column": "weight", "value_set": ["?", "[75-100)", "[50-75)", "[0-25)", "[100-125)", "[25-50)", "[125-150)", "[175-200)", "[150-175)", ">200"]}, "meta": {}}

In [27]:
# import great_expectations as gx
# from great_expectations.expectations.expectation import ColumnMapExpectation

# class ExpectColumnValuesToHaveLessThan30PercentQuestionMark(ColumnMapExpectation):
#     """Expect that a column has less than 30% '?' values."""

#     metric_dependencies = ("column_values.count",)
#     success_keys = ("mostly",)
#     default_kwarg_values = {"mostly": 0.7}

#     def validate_configuration(self, configuration):
#         """Validates that a valid configuration has been provided for the expectation."""
#         super().validate_configuration(configuration)
#         return True

#     def _validate(self, configuration, metrics, runtime_configuration=None, execution_engine=None):
#         column = metrics.get("column_values.count")
#         total_count = len(column)
#         question_mark_count = (column == "?").sum()
#         question_mark_percentage = question_mark_count / total_count * 100

#         return {
#             "success": question_mark_percentage < 30,
#             "result": {"question_mark_percentage": question_mark_percentage}
#         }

# # Register the custom expectation
# gx.data_asset.DataAsset.register_expectation(ExpectColumnValuesToHaveLessThan30PercentQuestionMark)

Overwriting declaration of atomic.diagnostic.observed_value renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of atomic.diagnostic.failed renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of LegacyDiagnosticRendererType.META_PROPERTIES renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of LegacyDiagnosticRendererType.OBSERVED_VALUE renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of LegacyDiagnosticRendererType.STATUS_ICON renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of LegacyDiagnosticRendererType.UNEXPECTED_STATEMENT renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of LegacyDiagnosticRendererType.UNEXPECTED_TABLE renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of atomic.prescriptive.failed renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of LegacyRendererType.PRESCRIPTIVE renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.
Overwriting declaration of atomic.prescriptive.summary renderer for expectation_type expect_column_values_to_have_less_than30_percent_question_mark.

AttributeError: type object 'DataAsset' has no attribute 'register_expectation'

In [18]:

# context = ge.data_context.DataContext()

In [37]:
contexto.save_expectation_suite(expectation_suite=suite_raw_data)

'c:\\Users\\joaop\\Desktop\\Mestrado\\1º Ano\\2º Semestre\\MLOps\\Laboratório de MLOps\\PROJETO\\notebooks\\gx\\expectations/hospital_data_diabetes_raw_data_suite.json'

In [38]:
data_asset_name = "hospital_data_diabetes_1"
try:
    data_asset = datasource.add_dataframe_asset(
        name = data_asset_name,
        dataframe = df
    )
except:
    print("Data asset já adicionado")
    data_asset = datasource.get_asset(data_asset_name)

Data asset já adicionado

In [39]:
batch_request = data_asset.build_batch_request(dataframe = df)

In [40]:
checkpoint = gx.checkpoint.SimpleCheckpoint(
    name = "checkpoint_raw_data",
    data_context = contexto,
    validations = [
        {
            "batch_request": batch_request,
            "expectation_suite_name": "hospital_data_diabetes_raw_data_suite"
        }
    ]
)
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

In [41]:
checkpoint_result

{
  "run_id": {
    "run_name": null,
    "run_time": "2024-06-11T11:55:37.385019+01:00"
  },
  "run_results": {
    "ValidationResultIdentifier::hospital_data_diabetes_raw_data_suite/__none__/20240611T105537.385019Z/hospital_data_diabetes-hospital_data_diabetes_1": {
      "validation_result": {
        "success": true,
        "results": [
          {
            "success": true,
            "expectation_config": {
              "expectation_type": "expect_column_distinct_values_to_be_in_set",
              "kwargs": {
                "column": "weight",
                "value_set": [
                  "?",
                  "[75-100)",
                  "[50-75)",
                  "[0-25)",
                  "[100-125)",
                  "[25-50)",
                  "[125-150)",
                  "[175-200)",
                  "[150-175)",
                  ">200"
                ],
                "batch_id": "hospital_data_diabetes-hospital_data_diabetes_1"
              },
              "meta": {}
            },
            "result": {
              "observed_value": [
                ">200",
                "?",
                "[0-25)",
                "[100-125)",
                "[125-150)",
                "[150-175)",
                "[175-200)",
                "[25-50)",
                "[50-75)",
                "[75-100)"
              ],
              "details": {
                "value_counts": [
                  {
                    "value": ">200",
                    "count": 3
                  },
                  {
                    "value": "?",
                    "count": 98569
                  },
                  {
                    "value": "[0-25)",
                    "count": 48
                  },
                  {
                    "value": "[100-125)",
                    "count": 625
                  },
                  {
                    "value": "[125-150)",
                    "count": 145
                  },
                  {
                    "value": "[150-175)",
                    "count": 35
                  },
                  {
                    "value": "[175-200)",
                    "count": 11
                  },
                  {
                    "value": "[25-50)",
                    "count": 97
                  },
                  {
                    "value": "[50-75)",
                    "count": 897
                  },
                  {
                    "value": "[75-100)",
                    "count": 1336
                  }
                ]
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            }
          }
        ],
        "evaluation_parameters": {},
        "statistics": {
          "evaluated_expectations": 1,
          "successful_expectations": 1,
          "unsuccessful_expectations": 0,
          "success_percent": 100.0
        },
        "meta": {
          "great_expectations_version": "0.18.12",
          "expectation_suite_name": "hospital_data_diabetes_raw_data_suite",
          "run_id": {
            "run_name": null,
            "run_time": "2024-06-11T11:55:37.385019+01:00"
          },
          "batch_spec": {
            "batch_data": "PandasDataFrame"
          },
          "batch_markers": {
            "ge_load_time": "20240611T105537.414521Z",
            "pandas_data_fingerprint": "243a799adb3b5be37d855789a9891061"
          },
          "active_batch_definition": {
            "datasource_name": "hospital_data_diabetes",
            "data_connector_name": "fluent",
            "data_asset_name": "hospital_data_diabetes_1",
            "batch_identifiers": {}
          },
          "validation_time": "20240611T105537.668794Z",
          "checkpoint_name": "checkpoint_raw_data",
          "validation_id": null,
          "checkpoint_id": null
        }
      },
      "actions_results": {
        "store_validation_result": {
          "class": "StoreValidationResultAction"
        },
        "store_evaluation_params": {
          "class": "StoreEvaluationParametersAction"
        },
        "update_data_docs": {
          "local_site": "file://c:\\Users\\joaop\\Desktop\\Mestrado\\1\u00ba Ano\\2\u00ba Semestre\\MLOps\\Laborat\u00f3rio de MLOps\\PROJETO\\notebooks\\gx\\uncommitted/data_docs/local_site/validations%5Chospital_data_diabetes_raw_data_suite%5C__none__%5C20240611T105537.385019Z%5Chospital_data_diabetes-hospital_data_diabetes_1.html",
          "class": "UpdateDataDocsAction"
        }
      }
    }
  },
  "checkpoint_config": {
    "config_version": 1.0,
    "module_name": "great_expectations.checkpoint",
    "batch_request": {},
    "action_list": [
      {
        "name": "store_validation_result",
        "action": {
          "class_name": "StoreValidationResultAction"
        }
      },
      {
        "name": "store_evaluation_params",
        "action": {
          "class_name": "StoreEvaluationParametersAction"
        }
      },
      {
        "name": "update_data_docs",
        "action": {
          "class_name": "UpdateDataDocsAction"
        }
      }
    ],
    "evaluation_parameters": {},
    "run_name_template": null,
    "default_validation_id": null,
    "site_names": null,
    "template_name": null,
    "ge_cloud_id": null,
    "expectation_suite_name": null,
    "slack_webhook": null,
    "validations": [
      {
        "expectation_suite_name": "hospital_data_diabetes_raw_data_suite",
        "expectation_suite_ge_cloud_id": null,
        "name": null,
        "batch_request": {
          "datasource_name": "hospital_data_diabetes",
          "data_asset_name": "hospital_data_diabetes_1",
          "options": {},
          "batch_slice": null
        },
        "id": null
      }
    ],
    "expectation_suite_ge_cloud_id": null,
    "class_name": "SimpleCheckpoint",
    "notify_on": null,
    "name": "checkpoint_raw_data",
    "runtime_configuration": {},
    "notify_with": null,
    "profilers": []
  },
  "success": true
}

In [42]:
df.gender.unique()

array(['Female', 'Male', 'Unknown/Invalid'], dtype=object)

In [44]:
expectation_gender = ExpectationConfiguration(
    expectation_type="expect_column_distinct_values_to_be_in_set",
    kwargs={
        "column": "gender",
        # note that here we didn't include the value 'Unknown/Invalid'.
        # this was on purpose to show that the expectation will fail
        "value_set": ["Male", "Female"],
    },
)

In [45]:
suite_raw_data.add_expectation(expectation_configuration = expectation_gender)

{"expectation_type": "expect_column_distinct_values_to_be_in_set", "kwargs": {"column": "gender", "value_set": ["Male", "Female"]}, "meta": {}}

In [46]:
contexto.save_expectation_suite(expectation_suite=suite_raw_data)

'c:\\Users\\joaop\\Desktop\\Mestrado\\1º Ano\\2º Semestre\\MLOps\\Laboratório de MLOps\\PROJETO\\notebooks\\gx\\expectations/hospital_data_diabetes_raw_data_suite.json'

In [ ]:
# expectation_payercode = ExpectationConfiguration(
#     expectation_type="expect_column_values_to_have_less_than_30_percent_question_mark",
#     kwargs={
#         "column": "payercode"
#     }
# )
# expectation_medical_specialty = ExpectationConfiguration(
#     expectation_type="expect_column_values_to_have_less_than_30_percent_question_mark",
#     kwargs={
#         "column": "medical_specialty"
#     }
# )

# suite.add_expectation(expectation_weight)
# suite.add_expectation(expectation_payercode)
# suite.add_expectation(expectation_medical_specialty)

# # Save the expectation suite
# context.save_expectation_suite(expectation_suite=suite, expectation_suite_name="raw_data_suite")

In [ ]:
# df = pd.DataFrame(data)
# batch = context.get_batch(batch_kwargs={"dataset": df}, expectation_suite_name="my_expectation_suite_raw")

In [ ]:
# results = dataset.validate(expectation_suite=expectation_suite)
# print(results)

In [7]:
df.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

Data Preparation & Exploration

In [8]:
#checking shape of the dataset
df.shape

(101766, 50)

In [9]:
#Checking data types of each variable
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [51]:
df.diag_1.value_counts()["?"], df.diag_2.value_counts()["?"], df.diag_3.value_counts()["?"]

(21, 358, 1423)

In [10]:
#Checking for missing values in dataset
#In the dataset missing values are represented as '?' sign
for col in df.columns:
    if df[col].dtype == object:
         print(col,df[col][df[col] == '?'].count())

race 2273
gender 0
age 0
weight 98569
payer_code 40256
medical_specialty 49949
diag_1 21
diag_2 358
diag_3 1423
max_glu_serum 0
A1Cresult 0
metformin 0
repaglinide 0
nateglinide 0
chlorpropamide 0
glimepiride 0
acetohexamide 0
glipizide 0
glyburide 0
tolbutamide 0
pioglitazone 0
rosiglitazone 0
acarbose 0
miglitol 0
troglitazone 0
tolazamide 0
examide 0
citoglipton 0
insulin 0
glyburide-metformin 0
glipizide-metformin 0
glimepiride-pioglitazone 0
metformin-rosiglitazone 0
metformin-pioglitazone 0
change 0
diabetesMed 0
readmitted 0

In [11]:
df['gender'].unique()

array(['Female', 'Male', 'Unknown/Invalid'], dtype=object)

In [12]:
# gender was coded differently so we use a custom count for this one            
print('gender', df['gender'][df['gender'] == 'Unknown/Invalid'].count())

gender 3

Dealing with Missing Values

In [13]:
#Variable weight contains approximate 98% of the missing values so there is no significance in filling those missing values 
#so we decided to drop these variables. Variable Payer code and medical specialty contains approximate 40% missing values so
# we also dropped these variables. Variables race, diag_1, diag_2, diag_3 and gender contains very less missing values as 
#compared to other attributes which we dropped so for these attributes we also decided to drop those where missing values 
#contains.

In [14]:
#dropping columns with large number of missing values
df = df.drop(['weight','payer_code','medical_specialty'], axis = 1)

In [15]:
drop_Idx = set(df[(df['diag_1'] == '?') & (df['diag_2'] == '?') & (df['diag_3'] == '?')].index)

drop_Idx = drop_Idx.union(set(df['diag_1'][df['diag_1'] == '?'].index))
drop_Idx = drop_Idx.union(set(df['diag_2'][df['diag_2'] == '?'].index))
drop_Idx = drop_Idx.union(set(df['diag_3'][df['diag_3'] == '?'].index))
drop_Idx = drop_Idx.union(set(df['race'][df['race'] == '?'].index))
drop_Idx = drop_Idx.union(set(df[df['discharge_disposition_id'] == 11].index))
drop_Idx = drop_Idx.union(set(df['gender'][df['gender'] == 'Unknown/Invalid'].index))
new_Idx = list(set(df.index) - set(drop_Idx))
df = df.iloc[new_Idx]

In [16]:
#Variables (drugs named citoglipton and examide), all records have the same value. So essentially these cannot provide any 
#interpretive or discriminatory information for predicting readmission so we decided to drop these two variables

In [17]:
df = df.drop(['citoglipton', 'examide'], axis = 1)

In [18]:
#Checking for missing values in the data
for col in df.columns:
    if df[col].dtype == object:
         print(col,df[col][df[col] == '?'].count())
            
print('gender', df['gender'][df['gender'] == 'Unknown/Invalid'].count())

race 0
gender 0
age 0
diag_1 0
diag_2 0
diag_3 0
max_glu_serum 0
A1Cresult 0
metformin 0
repaglinide 0
nateglinide 0
chlorpropamide 0
glimepiride 0
acetohexamide 0
glipizide 0
glyburide 0
tolbutamide 0
pioglitazone 0
rosiglitazone 0
acarbose 0
miglitol 0
troglitazone 0
tolazamide 0
insulin 0
glyburide-metformin 0
glipizide-metformin 0
glimepiride-pioglitazone 0
metformin-rosiglitazone 0
metformin-pioglitazone 0
change 0
diabetesMed 0
readmitted 0
gender 0

These will be our expectations

In [19]:
{
  "expectations": [
    {
      "expectation_type": "expect_table_row_count_to_be_between",
      "kwargs": {
        "min_value": 1000,
        "max_value": 1000000
      }
    },
    {
      "expectation_type": "expect_column_values_to_not_be_null",
      "kwargs": {
        "column": "gender"
      }
    },
    {
      "expectation_type": "expect_column_values_to_not_be_null",
      "kwargs": {
        "column": "diag_1"
      }
    },
    {
      "expectation_type": "expect_column_values_to_be_in_set",
      "kwargs": {
        "column": "gender",
        "value_set": ["Male", "Female"]
      }
    },
    {
      "expectation_type": "expect_column_values_to_not_equal",
      "kwargs": {
        "column": "diag_1",
        "value": "?"
      }
    },
    {
      "expectation_type": "expect_column_values_to_not_equal",
      "kwargs": {
        "column": "diag_2",
        "value": "?"
      }
    },
    {
      "expectation_type": "expect_column_values_to_not_equal",
      "kwargs": {
        "column": "diag_3",
        "value": "?"
      }
    },
    {
      "expectation_type": "expect_column_values_to_not_equal",
      "kwargs": {
        "column": "race",
        "value": "?"
      }
    }
  ]
}

{'expectations': [{'expectation_type': 'expect_table_row_count_to_be_between',
   'kwargs': {'min_value': 1000, 'max_value': 1000000}},
  {'expectation_type': 'expect_column_values_to_not_be_null',
   'kwargs': {'column': 'gender'}},
  {'expectation_type': 'expect_column_values_to_not_be_null',
   'kwargs': {'column': 'diag_1'}},
  {'expectation_type': 'expect_column_values_to_be_in_set',
   'kwargs': {'column': 'gender', 'value_set': ['Male', 'Female']}},
  {'expectation_type': 'expect_column_values_to_not_equal',
   'kwargs': {'column': 'diag_1', 'value': '?'}},
  {'expectation_type': 'expect_column_values_to_not_equal',
   'kwargs': {'column': 'diag_2', 'value': '?'}},
  {'expectation_type': 'expect_column_values_to_not_equal',
   'kwargs': {'column': 'diag_3', 'value': '?'}},
  {'expectation_type': 'expect_column_values_to_not_equal',
   'kwargs': {'column': 'race', 'value': '?'}}]}

In [20]:
df.head(5)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,31,...,No,Steady,No,No,No,No,No,No,Yes,>30

In [52]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [57]:
df['metformin'].unique() # check

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [58]:
df['repaglinide'].unique() # check

array(['No', 'Up', 'Steady', 'Down'], dtype=object)

In [59]:
df['nateglinide'].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [60]:
df['chlorpropamide'].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [61]:
df['glimepiride'].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [62]:
df['acetohexamide'].unique()

array(['No', 'Steady'], dtype=object)

In [63]:
df['glipizide'].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [64]:
df['glyburide'].unique() # check

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [66]:
df['tolbutamide'].unique() # check

array(['No', 'Steady'], dtype=object)

In [67]:
df['pioglitazone'].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [68]:
df['rosiglitazone'].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [69]:
df['acarbose'].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [70]:
df['miglitol'].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [71]:
df['troglitazone'].unique()

array(['No', 'Steady'], dtype=object)

In [72]:
df['tolazamide'].unique()

array(['No', 'Steady', 'Up'], dtype=object)

In [73]:
df['examide'].unique() # check

array(['No'], dtype=object)

In [75]:
df['citoglipton'].unique() # check

array(['No'], dtype=object)

In [77]:
df['insulin'].unique()

array(['No', 'Up', 'Steady', 'Down'], dtype=object)

In [78]:
df['glyburide-metformin'].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [79]:
df['glipizide-metformin'].unique()

array(['No', 'Steady'], dtype=object)

In [80]:
df['glimepiride-pioglitazone'].unique()

array(['No', 'Steady'], dtype=object)

In [81]:
df['metformin-rosiglitazone'].unique() # check

array(['No', 'Steady'], dtype=object)

In [82]:
df['metformin-pioglitazone'].unique() # check

array(['No', 'Steady'], dtype=object)